# EditorConfig file for the bazaar repository
# See http://EditorConfig.org for additional information, including syntax

# This is the top-most EditorConfig file (subdirectories may define their own
# .editorconfig file)
root = true

indent_style = space
indent_size = 2

# Trim all whitespaces from end of lines...
[*]
trim_trailing_whitespace = true